@import url('https://fonts.cdnfonts.com/css/source-serif-pro');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/inter');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --animate-star-movement-bottom: star-movement-bottom linear infinite alternate;
  --animate-star-movement-top:    star-movement-top    linear infinite alternate;
  --font-source-serif: 'Source Serif Pro', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --default-font-family: 'Albert Sans', sans-serif;

  @keyframes star-movement-bottom {
    0%   { transform: translate(0%, 0%); opacity: 1; -webkit-transform: translate(0%, 0%); -moz-transform: translate(0%, 0%); -ms-transform: translate(0%, 0%); -o-transform: translate(0%, 0%); }
    100% { transform: translate(-100%, 0%); opacity: 0; }
  }
  @keyframes star-movement-top {
    0%   { transform: translate(0%, 0%);   opacity: 1; }
    100% { transform: translate(100%, 0%); opacity: 0; }
  }
}

:root {
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --cards: 4;
  --cardHeight: 100svh;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-slide-down {
  animation: slideDown 0.2s ease-in-out forwards;
}

.no-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}