@import "tailwindcss";

@theme {
  --animate-star-movement-bottom: star-movement-bottom linear infinite alternate;
  --animate-star-movement-top:    star-movement-top    linear infinite alternate;

  @keyframes star-movement-bottom {
    0%   { transform: translate(0%, 0%); opacity: 1; -webkit-transform: translate(0%, 0%); -moz-transform: translate(0%, 0%); -ms-transform: translate(0%, 0%); -o-transform: translate(0%, 0%); }
    100% { transform: translate(-100%, 0%); opacity: 0; }
  }
  @keyframes star-movement-top {
    0%   { transform: translate(0%, 0%);   opacity: 1; }
    100% { transform: translate(100%, 0%); opacity: 0; }
  }
}

:root {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  scrollbar-width: none; /* Untuk Firefox */
  -ms-overflow-style: none; /* Untuk Internet Explorer dan Edge */
}

/* Untuk browser berbasis WebKit (Chrome, Safari, dll.) */
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}